<!-- form edit -->
<nz-drawer [nzVisible]="showForm" [nzTitle]="titleForm" (nzOnClose)="fncloseForm()" [nzMaskClosable]="false"
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', padding: '15px 15px 53px 15px' }"
  [nzFooter]="footerTpl" nzWidth="1000px">

  <!-- content -->
  <div class="wrap-content">
    <div class="first-infor">
      <!-- avatar form tạo mới -->
      <div class="img-avatar first-block" *ngIf="!(user && user.avatarThumb)">
        <img *ngIf="previewImageSrc" [src]="previewImageSrc" alt="Preview" />
        <input type="file" (change)="previewAndUploadImage($event)" hidden #fileInput />  
        <button nz-button (click)="fileInput.click()">
          <span nz-icon nzType="upload"></span>
          {{ previewImageSrc ? "Thay đổi ảnh": "Tải lên ảnh avatar" }}
        </button>
      </div>

      <!-- avatar form tạo mới -->
      <div class="img-avatar first-block" *ngIf="user && user.avatarThumb">
        <img *ngIf="previewImageSrc" [src]="previewImageSrc" alt="Preview" />
        <button nz-button (click)="VisibleModalEdit = true">
          <span nz-icon nzType="upload"></span>
          chỉnh sửa
        </button>
      </div>

      <!-- avatar form edit -->
      <div class="right-head first-block">
        <nz-form-item class="field-infor">
          <label class="label-detail">Họ tên:</label>
          <nz-form-control>
            <input class="input-detail" nz-input placeholder="Họ tên..." nzSize="default"
              [(ngModel)]="user.hoTen" />
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item class="field-infor">
          <label class="label-detail">Ngày sinh:</label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="user.ngaySinh" nzAllowClear></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item class="field-infor">
          <label class="label-detail">Giới tính:</label>
          <nz-form-control>
            <nz-select [(ngModel)]="user.gioiTinh" name="gioiTinh" id="gioiTinh" nzPlaceHolder="Chọn" nzShowSearch
            nzAllowClear>
              <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
              <nz-option nzValue="Nữ" nzLabel="Nữ"></nz-option>
              <nz-option nzValue="Khác" nzLabel="Khác"></nz-option>
          </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="second-infor">
      <nz-form-item class="field-infor">
        <label class="label-detail">Quê quán:</label>
        <nz-form-control>
          <input class="input-detail" nz-input placeholder="Quê quán..." nzSize="default"
            [(ngModel)]="user.queQuan" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-infor">
        <label class="label-detail">Chức vụ:</label>
        <nz-form-control>
          <input class="input-detail" nz-input placeholder="Chức vụ..." nzSize="default"
            [(ngModel)]="user.chucVu" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-infor">
        <label class="label-detail">Phòng ban:</label>
        <nz-form-control>
          <nz-select [(ngModel)]="user.phongBan" name="gioiTinh" id="gioiTinh" nzPlaceHolder="Chọn" nzShowSearch
          nzAllowClear>
            <nz-option nzValue="ICT" nzLabel="ICT"></nz-option>
            <nz-option nzValue="Kế toán" nzLabel="Kế toán"></nz-option>
            <nz-option nzValue="Khác" nzLabel="Khác"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-infor">
        <label class="label-detail">Công ty:</label>
        <nz-form-control>
          <input class="input-detail" nz-input placeholder="Công Ty..." nzSize="default"
            [(ngModel)]="user.congTy" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-infor">
        <label class="label-detail">Tình trạng:</label>
        <nz-form-control>
          <nz-select [(ngModel)]="user.tinhTrang" name="tinhTrang" id="tinhTrang" nzPlaceHolder="Chọn" nzShowSearch
          nzAllowClear>
            <nz-option nzValue="Chính thức" nzLabel="Chính thức"></nz-option>
            <nz-option nzValue="TTS" nzLabel="TTS"></nz-option>
            <nz-option nzValue="Khác" nzLabel="Khác"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="field-infor">
        <label class="label-detail">Group mail:</label>
        <nz-form-control>
          <input class="input-detail" nz-input placeholder="Mail..." nzSize="default"
            [(ngModel)]="user.groupMail" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <ng-template #footerTpl>
    <div>
      <button nz-button nzType="primary" (click)="fnSaveInfo()">Lưu</button>

      <button nz-button nzType="default" (click)="fncloseForm()" style="margin-left: 8px;">Hủy</button>
    </div>
  </ng-template>
</nz-drawer>

<!-- modal edit image -->
<nz-modal [(nzVisible)]="VisibleModalEdit" nzTitle="Chỉnh sửa ảnh" [nzClassName]="'modal-edit-image'"  [nzStyle]="{ top: '20px' }"
    (nzOnCancel)="handleCancelModal()" [nzWidth]="'900px'">
    <div *nzModalContent class="content-modal">
      <nz-spin [nzSpinning]="isUploadImg" nzTip="Ảnh dung lớn có thể chờ lâu..." style="min-height: calc(100vh - 150px);">
        <div class="btn-group">     
          <input type="file" (change)="fileChangeEvent($event)" hidden #fileInput />
          <button nz-button (click)="fileInput.click()">
            <span nz-icon nzType="upload"></span>
            Thay đổi ảnh
          </button>
          <button nz-button nzType="primary" (click)="rotateLeft()">Xoay trái</button>
          <button nz-button nzType="primary" (click)="rotateRight()">Xoay phải</button>
        </div>
        <div class="wrap-crop-image">
          <nz-spin [nzSpinning]="isUploadImgCrop" nzTip="Ảnh dung lớn có thể chờ lâu...">
            <div class="image-crop">
              <p class="t-center label-img" [hidden]="!flagCropperReady">Ảnh gốc({{imageOriginWidth}}x{{imageOriginHeight}})</p>
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="false"
                [containWithinAspectRatio]="true"
                [aspectRatio]="1/1"
                [autoCrop]="false"
                [onlyScaleDown]="false"
                [roundCropper]="false"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'center'"
                [imageURL] = "user.avatar"
                [style.display]="showCropper ? null : 'none'"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
                #imageCropper>
              </image-cropper>
            </div>
          </nz-spin>
    
          <button nz-button nzType="default" style="align-self: center;" (click)="startCrop()" [hidden]="!flagCropperReady"><span nz-icon nzType="scissor" nzTheme="outline" style="color: brown;"></span>Cắt ảnh</button>
          <div class="image-preview">
            <p class="t-center label-img" [hidden]="!flagCropperReady">Ảnh cắt({{imageCutWidth}}x{{imageCutHeight}})</p>
            <img [src]="croppedImage"
                (load)="onImageLoad($event)"
                  [hidden]="!flagCropperReady" [style.border]="croppedImage ? '1px solid #eee' : 'none'"/>
          </div>
        </div>
      </nz-spin>
    </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelModal()">Hủy</button>
    <button nz-button nzType="primary" (click)="fnSaveEditImage()">Lưu</button>
  </div>
</nz-modal>