.t-center {
  text-align: center;
}
.wrap-content {
  .first-infor {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    .first-block {
      width: calc(50% - 12px);
      &.img-avatar {
        margin-right: 12px;
        text-align: center;
        height: 165px;
        border: 1px solid #eee;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin-right: 10px;
        }
      }
      &.right-head {
        .field-infor {
          width: 100%;
        }
      }
    }
  }
  .second-infor {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .field-infor {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(50% - 12px);
    margin-right: 12px;
  }
  .field-infor .label-detail {
    width: 120px;
    text-align: right;
    white-space: normal;
    height: inherit;
    margin: 0 8px 0 0;
  }
}
::ng-deep .modal-edit-image {
  .ant-modal-body {
    max-height: calc(100vh - 150px);
    min-height: calc(100vh - 150px);
    overflow: auto;
  }
  .content-modal {
    .btn-group {
      margin-bottom: 20px;
      button {
        margin-right: 10px;
      }
    }
    .wrap-crop-image {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .image-crop, 
      .image-preview {
        img {
          width: 300px;
          height: 300px;
          object-fit: contain;
        }
      }
      .label-img {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}