.t-center {
  text-align: center;
}
.wrap-content {
  .first-infor {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    .first-block {
      width: calc(50% - 12px);
      &.img-avatar {
        margin-left: 12px;
        text-align: center;
        height: 165px;
        line-height: 165px;
        border: 1px solid #eee;
        border-radius: 10px;
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin-left: 10px;
        }
      }
      &.right-head {
        .field-infor {
          width: 100%;
        }
      }
    }
  }
  .second-infor {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .field-infor {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(50% - 12px);
    margin-right: 12px;
  }
  .field-infor .label-detail {
    width: 120px;
    text-align: right;
    white-space: normal;
    height: inherit;
    margin: 0 8px 0 0;
  }
}