<nz-card class="listnhanvien">
    <!-- Action bar -->
    <div nz-row [nzGutter]="24" class="s2-action-bar">
      <div nz-col nzFlex="150px">
        <nz-form-item>
          <nz-form-label>Tổng số</nz-form-label>
          <nz-form-control>
            <nz-badge nzStandalone [nzCount]="10" [nzStyle]="{ backgroundColor: '#108ee9' }" [nzShowZero]="true"
              [nzOverflowCount]="9999"></nz-badge>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <div nz-col nzFlex="auto"></div>

      <div nz-col nzFlex="90px">
        <button nz-button nzType="default" (click)="showForm = true"><span nz-icon nzType="plus" nzTheme="outline"></span>Thêm mới</button>
      </div>
  
      <div nz-col nzFlex="300px">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
              <input [(ngModel)]="filterParams.Keyword" type="text" nz-input placeholder="tìm kiếm..." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
  
          </nz-form-control>
        </nz-form-item>
      </div>
  
    </div>
    <!--/ Action bar -->
  
    <!-- Table -->
    <nz-table #tblList [nzData]="listDataDisplay" nzFrontPagination nzShowSizeChanger class="list"
      [nzTotal]="totalItems" [nzPageSize]="filterParams.PageSize" [nzPageIndex]="filterParams.PageNumber"
     [nzScroll]="{x: 'auto', y: 'calc(100vh - 150px)' }" nzBordered>

      <thead>
        <tr>
          <th nzWidth="70px">Avatar</th>
          <th nzWidth="120px">Mã Nhân viên</th>
          <th nzWidth="170px">Họ tên</th>
          <th nzWidth="120px">Ngày sinh</th>
          <th nzWidth="80px">Giới tính</th>
          <th nzWidth="200px">Quê quán</th>
          <th nzWidth="120px">Tôn giáo</th>
          <th nzWidth="120px">Phòng ban</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tblList.data">
          <td class="t-center">
            <div class="avatar" nz-tooltip [nzTooltipTitle]="titleTemplate" [nzTooltipColor]="'#87d068'">
              <img [src]="data.avatarThumb" alt="">
            </div>

            <ng-template #titleTemplate let-thing>
              <div class="tooltip-avatar">
                <img style="width: 200px; height: 200px; object-fit: cover; margin: auto; display: block;" [src]="data.avatarThumb" alt="">
                <p style="font-size: 20px;
                          margin-bottom: 0;
                          font-weight: bold;">
                          {{data.hoTen}}</p>
                <p>{{data.chucVu}} ({{data.phongBan}})</p>
              </div>
            </ng-template>
          </td>
          <td>
            <button nz-button nzType="link" [routerLink] = "['chitiet', data.maNhanVien]">{{data.maNhanVien}}</button>
          </td>
          <td>{{data.hoTen}}</td>
          <td>{{data.ngaySinh}}</td>
          <td>{{data.gioiTinh}}</td>
          <td>{{data.queQuan}}</td>
          <td>{{data.tonGiao}}</td>
          <td>{{data.phongBan}}</td>
        </tr>
      </tbody>
    </nz-table>
  <!-- Thêm mới -->
  <app-formUser [user]="newUser" 
                [titleForm]="'Thông tin nhân viên'"
                [showForm]="showForm"
                (closeDraw$)="fnCloseForm()"
                (saveDraw$)="fnSaveForm()"></app-formUser>
</nz-card>