.t-center {
  text-align: center;
}
.list {
  th {
    padding: 5px 10px; 
    text-align: center 
  }
  td {
    padding: 10px 5px
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
  ::ng-deep .tooltip-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
    p {
      font-size: 25px;
      font-weight: bold;
      color: red;
    }
  }
}