<nz-card class="pushnoti">
  <div class="wrap-content">
    <div class="block">
      <button nz-button nzType="default" (click)="sendMessageAll()"><span nz-icon nzType="plus" nzTheme="outline"></span>Push All</button>
    </div>
    <div class="block">
      <button nz-button nzType="default" (click)="sendMessageAny()" [disabled]="dataAnyUser.length <= 0"><span nz-icon nzType="plus" nzTheme="outline"></span>Push Any User</button>
      <nz-checkbox-wrapper style="width: 100%; margin-top: 20px;" (nzOnChange)="addDataAnyUser($event)">
        <label *ngFor="let data of listData" nz-checkbox [nzValue]="data.id">{{data.firstName}}</label>
      </nz-checkbox-wrapper>
    </div>
  </div>
</nz-card>