<nz-card class="listhinhanh">
    <!-- Action bar -->
    <div nz-row [nzGutter]="24" class="s2-action-bar">
      <div nz-col nzFlex="150px">
        <nz-form-item>
          <nz-form-label>Tổng số</nz-form-label>
          <nz-form-control>
            <nz-badge nzStandalone [nzCount]="10" [nzStyle]="{ backgroundColor: '#108ee9' }" [nzShowZero]="true"
              [nzOverflowCount]="9999"></nz-badge>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <div nz-col nzFlex="auto"></div>

      <div nz-col nzFlex="90px">
        <button nz-button nzType="default" (click)="showForm = true"><span nz-icon nzType="plus" nzTheme="outline"></span>Thêm mới</button>
      </div>
  
      <div nz-col nzFlex="300px">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
              <input [(ngModel)]="filterParams.Keyword" type="text" nz-input placeholder="tìm kiếm..." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
  
          </nz-form-control>
        </nz-form-item>
      </div>
  
    </div>
    <!--/ Action bar -->
  
    <!-- Table -->
    <nz-table #tblList [nzData]="listDataDisplay" nzFrontPagination nzShowSizeChanger class="list"
      [nzTotal]="totalItems" [nzPageSize]="filterParams.PageSize" [nzPageIndex]="filterParams.PageNumber"
     [nzScroll]="{x: 'auto', y: 'calc(100vh - 150px)' }" nzBordered>

      <thead>
        <tr>
          <th nzWidth="70px">Ảnh</th>
          <th nzWidth="120px">Mã hình</th>
          <th nzWidth="170px">File name</th>
          <th nzWidth="100px">Định dạng</th>
          <th nzWidth="80px">Size</th>
          <th nzWidth="200px">Người tạo</th>
          <th nzWidth="120px">Ngày update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tblList.data">
          <td class="t-center">
            <div class="avatar" nz-tooltip [nzTooltipTitle]="titleTemplate" [nzTooltipColor]="'#87d068'">
              <img [src]="data.avatarThumb" alt="">
            </div>

            <ng-template #titleTemplate let-thing>
              <div class="tooltip-avatar">
                <img style="width: 200px; height: 200px; object-fit: cover; margin: auto; display: block;" [src]="data.avatarThumb" alt="">
                <p style="font-size: 20px;
                          margin-bottom: 0;
                          font-weight: bold;">
                          {{data.hoTen}}</p>
              </div>
            </ng-template>
          </td>
          <td>
            <button nz-button nzType="link" [routerLink] = "['chitiet', data.maHinhAnh]">{{data.maHinhAnh}}</button>
          </td>
          <td>{{data.name}}</td>
          <td>{{data.type}}</td>
          <td>{{data.size}}</td>
          <td>{{data.nguoiTao}}</td>
          <td style="text-align: center;">{{data.ngayUpdate}}</td>
        </tr>
      </tbody>
    </nz-table>
</nz-card>

<!-- modal upload -->
<nz-modal [(nzVisible)]="showForm" nzTitle="Upload hình ảnh" [nzClassName]="'modal-upload-image'" [nzStyle]="{ top: '20px' }"
(nzOnCancel)="fncloseForm()" [nzWidth]="'750px'">
  <!-- content -->
  <div class="wrap-content" *nzModalContent>
    <!-- avatar form tạo mới -->
    <div class="img-avatar">
      <ul class="wrap-preview">
        <li *ngFor="let image of imagesPreview; let i = index" class="img-preview">
          <img [src]="image.dataUrl" alt="{{ image.name }}" width="50">
          <p>{{ image.name }}.{{image.type}}({{ image.width }} x {{ image.height }})</p>
          <span nz-icon nzType="delete" nzTheme="outline" style="color: red; cursor: pointer;" (click)="removeImage(i)"></span>
          <!-- <button nz-button nzType="danger" nzValue="small" (click)="removeImage(i)" class="btn-delete" nzShape="circle">X</button> -->
        </li>
      </ul>

      <div>
        <input type="file" (change)="previewAndUploadImages($event)" hidden #fileInput multiple accept=".png, .jpg, .jpeg"/>  
        <button nz-button (click)="fileInput.click()">
          <span nz-icon nzType="upload"></span>
          {{ previewImageSrc ? "Thay đổi ảnh": "Tải lên ảnh" }}
        </button>
      </div>
    </div>
  </div>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="fncloseForm()">Hủy</button>
    <button nz-button nzType="primary" (click)="fnSaveForm()">Lưu</button>
  </div>
</nz-modal>