.col-avatar {
  display: flex;
  align-items: flex-start;
  .wrap-avatar {
    width: 250px;
    height: 220px;
    overflow: hidden;
    margin-right: 30px;
    flex-shrink: 0;
    align-self: center;
    border: 1px solid #eee;
    img {
      width: 100%;
      height: inherit;
      object-fit: contain;
    }
  }
  ::ng-deep .ant-descriptions-item-label {
    font-weight: bold;
    font-style: italic;
  }
}