<nz-card style="min-height: calc(100vh - 120px);">
  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{itemDetailModel.hoTen}} ({{itemDetailModel.maNhanVien}})</nz-page-header-title>
    
    <nz-page-header-subtitle>
      <span nz-icon nzType="contacts" nzTheme="fill" style="color:#108ee9; font-size: 25px;"></span>
    </nz-page-header-subtitle>
    
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button (click)="openForm()">
          <span nz-icon nzType="profile" nzTheme="outline"></span>Chỉnh sửa</button>
        <button *nzSpaceItem nz-button nzType="primary" nzDanger>Xóa</button>
      </nz-space>
    </nz-page-header-extra>
    
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <div class="col-avatar">
            <div class="wrap-avatar">
              <img nz-img [src]="itemDetailModel.avatar"/>
            </div>
            <nz-descriptions [nzColumn]="2">
              <nz-descriptions-item nzTitle="Họ tên" [nzSpan]="1">{{itemDetailModel.hoTen}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Ngày sinh" [nzSpan]="1">{{itemDetailModel.ngaySinh}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Giới tính" [nzSpan]="1">{{itemDetailModel.gioiTinh}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Số điện thoại" [nzSpan]="1">{{itemDetailModel.dienThoai}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Tôn giáo" [nzSpan]="1">{{itemDetailModel.tonGiao}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Quê quán" [nzSpan]="2">{{itemDetailModel.queQuan}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Chức vụ" [nzSpan]="1">{{itemDetailModel.chucVu}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Phòng ban" [nzSpan]="1">{{itemDetailModel.phongBan}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Công ty" [nzSpan]="1">{{itemDetailModel.congTy}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Tình trạng" [nzSpan]="1">{{itemDetailModel.tinhTrang}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Group mail" [nzSpan]="2">{{itemDetailModel.groupMail}}</nz-descriptions-item>
            </nz-descriptions>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-card>

<!-- form edit -->
<app-formUser [user]="itemDetailModel" 
              [titleForm]="itemDetailModel.maNhanVien + ' | ' + itemDetailModel.hoTen "
              [showForm]="showForm"
              (closeDraw$)="closeForm()"
              (saveDraw$)="saveForm()">
</app-formUser>
