<nz-card>

  <nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>{{itemDetailModel.hoTen}} ({{itemDetailModel.maNhanVien}})</nz-page-header-title>
    
    <nz-page-header-subtitle>
      <span nz-icon nzType="fire" nzTheme="fill" style="color:red; font-size: 20px;"></span>
    </nz-page-header-subtitle>
    
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button (click)="openForm()">
          <span nz-icon nzType="profile" nzTheme="outline"></span>Chỉnh sửa</button>
        <button *nzSpaceItem nz-button nzType="primary" nzDanger>Xóa</button>
      </nz-space>
    </nz-page-header-extra>
    
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <nz-descriptions nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="Họ tên" [nzSpan]="1">{{itemDetailModel.hoTen}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Ngày sinh" [nzSpan]="1">{{itemDetailModel.ngaySinh}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Giới tính" [nzSpan]="1">{{itemDetailModel.gioiTinh}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tôn giáo" [nzSpan]="1">{{itemDetailModel.tonGiao}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Quê quán" [nzSpan]="2">{{itemDetailModel.queQuan}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</nz-card>

<!-- form edit -->
<app-formUser [user]="itemDetailModel" 
              [titleForm]="itemDetailModel.maNhanVien + ' | ' + itemDetailModel.hoTen "
              [showForm]="showForm"
              (closeDraw$)="closeForm()"
              (saveDraw$)="saveForm()">
</app-formUser>
